.bg-theme {
  background-color: #ba9577 !important;
}
.bg-theme-secondary {
  background-color:  #f6d4a8;
}

.text-theme {
  color: #311d1b;
}
.text-theme-secondary {
  color: #543830;
}
.btn-theme {
  background-color: #825f4f !important;
  color: white;
}

.btn-theme:hover {
  background-color: #ba9577 !important;
  color: white;
}

.accordion-custom::before {
  content: none
}

.MuiList-root .selected-accordion,
.MuiList-root .Mui-selected {
  background-color: #f6d4a8!important;
  color: white !important;
  border-radius: 12px !important;
}

.MuiList-root .Mui-selected>.MuiListItemText-root>.MuiTypography-root,
.MuiList-root .Mui-selected>.MuiListItemIcon-root {
  color: white !important;
  font-weight: 600;
}

.MuiList-root .MuiListItemButton-root:hover {
  background-color: #ba9577 !important;
  color: white !important;
  border-radius: 12px !important;
  z-index: 2;
}

.MuiAccordionDetails-root>.MuiList-root::after {
  content: "";
  position: absolute;
  left: 12px;
  top: 0px;
  height: 100%;
  width: 1px;
  opacity: 1;
  background: #ba9577;
}


.color1 {color: #311d1b;}
.color2 {color: #543830;}
.color3 {color: #825f4f;}
.color4 {color: #ba9577;}
.color5 {color: #f6d4a8;}


.css-1fat2ok::before {
  height: 0px !important;
}

.MuiButton-root:hover, .MuiIconButton-root:hover {
  transform: scale(1.092) !important;
  transition: 0.175s !important;
}

.MuiButton-containedPrimary, .MuiPaginationItem-colorPrimary[class~="Mui-selected"] {
  color: white !important;
}